@font-face {
  font-family: "Al Quran - IndoPak";
  src: url("./../fonts/Al-Quran-WBW-IndoPak.ttf");
}
@font-face {
  font-family: "Muhammadi";
  src: url("./../fonts/Muhammadi.ttf");
}
@font-face {
  font-family: "noorehira";
  src: url("./../fonts/noorehira.ttf");
}

/* format("truetype") */

.font:indopak {
  font-family: "Al Quran - IndoPak" !important;
  font-size: 1rem;
  line-height: normal;
}
.font:muhammadi {
  font-family: Muhammadi !important;
  font-size: 1rem;
  /* line-height: normal; */
}
.font:noorehira {
  font-family: noorehira !important;
  line-height: normal;
  font-size: 1rem;
}
